
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headercontainer{
  background-color: #434931;
  position:static;
  margin-bottom: 5px;
}
.bannergrid{
  padding-left: 4px !important;
}
.headertags{
  margin:20px;
  padding:5px 10px;
  font-family: 'Barlow Condensed';
  color:aliceblue;

}

.headertags:hover{
  background-color: #11100b;
  cursor: pointer;
  border-radius: 10px;

}
.rightheader:hover{
  cursor:default;

}
.bannerimage{
  width:100%;
}

.middlecontainer{
  text-align: center;
}

#easy{
  font-family: 'Gupter';
  color:#274C77;
  font-size: 50px;
  font-weight: 500;
  margin: 0px;
}

.boxeasy{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:20px;
}
.imgeasy{
  width:35%;
}
.diveasy{
  font-size: 70px;
  color:#FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diveasy2{
  color:#FFFFFF;
  font-size: 17px;
}
.grideasy{
  transition: transform .4s; 
}
.grideasy:hover{
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

#loc{
  font-family: 'Gupter';
  color:#274C77;
  font-size: 50px;
  font-weight: 500;
  padding:0px ;
  margin-bottom: 0px !important;
  margin-top:0px;

}
#loc2{
  font-family: 'Gupter';
  color:#274C77;
  padding:10px;
  margin:0px;
  font-size:20px;

}

.locationimg{
  width:100%;
}
.choice{
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice:hover{
  cursor:pointer;
}

.galleryimg{
  width:100%;
  height:100%;
}
.galleryitem{
  width:230px;
  height:230px;
}

.footertext{
  color:white;
  padding:0px;
}
.list{
  padding: 2px;
}

#outlined-basic{
  background-color: #FFFFFF;

}

.buttongo{
  height:55px;
  width:10%;
  background-color: #07de81;
  border:0px;
  border-radius: 2px;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding:10px;
}

.buttonnews{
  height:55px;
  width:50%;
  background-color: #07de81;
  border:0px;
  border-radius: 2px;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding:10px;
  margin:5px;

}

.buttongo:hover{
  cursor:pointer;
}
.buttonnews:hover{
  cursor:pointer;
}

.loginitem{
  padding:100px;
}

.logintext{
  text-align:left;
  font-size: 17px;
}

.loginbutton{
  border:0px;
  border-radius: 10px;
  background-color: green;
  color:rgb(248, 245, 241);
  padding:10px;
  font-size: 15px;
  margin:10px 10px 10px 0px;
}
.loginbutton:hover{
  cursor:pointer;
}
.clickbutton{
  padding: 10px !important;
  color:black !important;
  font-size: 18px;
  background-color: rgb(108, 133, 108) !important;
  margin:20px;
}
.clickbutton:hover{
  cursor: pointer;
}
.loginbuttonheader{
  margin:0px;
}
.loginbuttonheader:hover{
  cursor: pointer;
}

#logo:hover{
  cursor: pointer;
}

.bannertext{
  color: white;
  font-family: 1, Times, serif;
  width:30%;
  text-align: left;
  padding:110px 50px 50px 50px;;

}

.indiaimg{
  border: 5px solid white;
  border-radius: 15px;
}

.india2img{
  border: 5px solid white;
  border-radius: 15px;
  width:300px;
}

.gridcontainerplantnow{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  margin:20px;
}
.detailsimg{
  width:100%;
}

.addtocart{
  padding: 10px;
  margin:20px 20px 20px 0px;
  width:30%;
  border-radius:10px;
  border: 0px;
  background-color: #23875c;
  color:#FFFFFF;
  font-size: 18px;
}
.addtocart:hover{
  cursor: pointer;
}

.menudiv{
  color:#FFFFFF;
  text-align: right;
  padding:30px;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
  
.heading1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: rgb(93, 31, 31)
}

.heading2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: rgb(87, 85, 85);

}

.hr{
  text-align: center;
  background-color: #0fbd72;
  padding:30px
}

.menubuttons:hover{
  cursor: pointer;
}

.list:hover{
  cursor: pointer;
  text-decoration: underline;
}

.teambutton{
  padding:15px;
  border:5px;
  border-radius: 5px;
  background-color: #bdddcd;
  margin:10px;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}
.teambutton:hover{
  cursor: pointer;
  background-color: #3F715B;
}

.teamimg{
  border-radius: 50%;
  height:200px;
  width:200px;
}

.teamtext{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin:0px;
  padding:3px;
}
.headteam{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #FFFFFF;

}
.termsgrid{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(213, 209, 209);
  padding:50px !important;
  margin: 20px !important;;
}

#h2cart{
  margin:0px;
}
#pcart{
  margin:0px;
}
#pmoneycart{
  margin-top:20px;
  color:#23875c;
  
}

.cartbuttons{
  padding:15px;
  margin:20px;
  border-radius: 10px;
  background-color: #d5f5e7;
  color:#3F715B;
  border-color: #3F715B;
}
.cartbuttons:hover{
  cursor: pointer;
  text-decoration: underline;
}
.pacc{
  font-size: 20px;
}
.pacc:hover{
  cursor: pointer;
  text-decoration: underline;
}

.whenatcisclicked{
  background-color: rgba(101, 177, 144, 0.643);
  height:70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-bottom: 20px;
}

.cartimg{
  width:50%;
}

.cartgrid{
  margin-bottom: 20px;
}